<%- include('./partials/header') %>

<h5 id="homeAbout">
  Welcome to Only True Gamers! The site where you can look for a reviewer you
  trust and see what they have to say about the upcoming games you've been
  eyeing! No more are you going to have look to major companies that to assign a
  reviewer that may not even be interested in reviewing the game.
</h5>

<%- include('./partials/footer') %>
